#header {
  background: rgba(70, 130, 169, 0.3);
  transition: background 0.3s ease; /* Add transition for a smoother effect */
  position: sticky;
  top: 0;
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}

#header.scrolled {
  background: rgba(70, 130, 169, 1); /* Solid background when scrolled */
}

#topbar {
  background: rgba(70, 130, 169, 0.3); /* The fourth value (0.5) represents the alpha (transparency) level */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

body {
  background-image: url('assets/pesawat.png');
  background-size: cover; /* or use 'contain' if you want the whole image to be visible */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  background-position: center center; /* Center the background image */
}
  
.p {
    background-color: rgba(255, 255, 255, 0.8); /*transparansi*/
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
  
h1 {
    color: #333;
    text-align: center;
}
  
#flightSearchForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

.ui-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
}
  
  .ui-menu-item {
    padding: 8px;
    color: #333;
    margin-bottom: 4px;
}

.ui-menu-item:hover,
.ui-menu-item:active {
  background-color: #f0f0f0;
}
  